h1{
    background-color: darkkhaki;
    text-decoration: wavy;
}
body{
    background-color: darkcyan;
}
.wd{
    height: 250px;
    width: 150px;
    border: 10px;
    margin: 3px;
    background-color: cornsilk;
}
#ryhmä1{
    width: 600px;
    height: 400px;
}
.oldCol{
    background-color: blueviolet;
    color: rgb(84, 84, 80);
}
.butCol{
    background-color: burlywood;
}
.dark{
    background-color: rgb(62, 62, 62);
}
.light{
    background-color: antiquewhite;
}