*{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.blog{
    border: 10px solid yellowgreen;
    background-color: azure;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin: 10px; /*20px 40px(TB,LR) and 20px 40px 80px(T LR B) and 20px 40px 60px 80px(T R B L)*/
    padding: 5px 45px;/*T B L R sama kuin margin*/
    box-shadow: 5px 5px gray;
}
#visib{
    /*display: none;*/
    visibility: hidden;
}
#cover{
    height: 300px;
    background-image: url('../Full_Stack_Basic_Task/kuvat/tori.jpg');
    background-size: 500px;
}
#inblock{
    display: block;
    border: 10px solid black;
    height: 50px;
}
section{
    margin: 0 auto;
    background-image: linear-gradient(45deg, yellow, white);
    padding: 30px;
}
.secDiv{
    border: 2px solid red;
    padding: 40px;
}
.secImg{
    padding-top: 30px;
    height: 200px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 2px solid red;
    background-color: burlywood;
}
.secImg>img{
    height: 150px;
    width:150px;
}
#img1{
    right: 160px;
    position: relative;
}