*{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.blog{
    border: 10px solid yellowgreen;
    background-color: azure;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin: 10px; /*20px 40px(TB,LR) and 20px 40px 80px(T LR B) and 20px 40px 60px 80px(T R B L)*/
    padding: 5px 45px;/*T B L R sama kuin margin*/
    box-shadow: 5px 5px gray;
}
#visib{
    /*display: none;*/
    visibility: hidden;
}
#cover{
    height: 300px;
    background-image: url('../Full_Stack_Basic_Task/kuvat/tori.jpg');
    background-size: 500px;
}
#inblock{
    display: block;
    border: 10px solid black;
    height: 50px;
}

/*CSS positions and Z index*/
section{
    margin: 0 auto;
    background-image: linear-gradient(45deg, yellow, white);
    padding: 30px;
}
.secDiv{
    border: 2px solid red;
    padding: 40px;
}
.secImg{
    padding-top: 30px;
    height: 200px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 2px solid red;
    background-color: burlywood;
    position: relative;
}
.secImg>img{
    height: 150px;
    width:150px;
}
#img1{
    right: 160px;
    position: relative;
}
#img2{
    right: 50px;
    position: absolute;
    bottom: 60px;
}
#img3{
    position: sticky;
    top: 2px;
}
.secZindex{
    padding-top: 30px;
    height: 200px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 2px solid red;
    background-color: burlywood;
}
#imgA{
    z-index: 3;
    left: 460px;
    position: absolute;
}
#imgB{
    z-index: 2;
    left: 480px;
    position: absolute;
}
#imgC{
    z-index: 1;
    left: 500px;
    position: absolute;
}
#imgD{
    left: 520px;
    position: absolute;
}

/*Pseudo Elements*/
h2:hover{
    background-color: aqua;
}
h2::after{
    content: '.pdf';
    color: brown;
}
h2::first-letter{
    color: blueviolet;
    font-size: 3em;
}
a:visited{
    color: gray;
}
li{
    list-style: none;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}
/*Nth Child*/
li:nth-child(2n){
    background-color: cadetblue;
}

/*Grid and Flex*/
.calender{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    row-gap: 10px;
    column-gap: 20px;
}
.date{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    
    height: 50px;
    width: 50px;
    background-color: lightsalmon;
    border-radius: 10px;
    font-weight: bolder;
}
.day{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  
    height: 50px;
    width: 50px;
    background-color: aqua;
    border-radius: 10px;
}

/*CSS Media Query*/
.mediaQuery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 10px;
}
.imgBulk{
    border: 2px solid black;
    background-color: skyblue;
    border-radius: 10px;
    padding: 10px;
}

@media screen and (max-width:855px) {
    .mediaQuery{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (max-width:992px) and (min-width:576px){
    .mediaQuery{
        grid-template-columns: repeat(2,1fr);
    }
}

